<h1>Blockchain
    <chain-info ng-if="$root.expertMode" blocks="vm.blocks"></chain-info>
</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a ng-click="vm.showExplanation = !vm.showExplanation">Explanation (Click to Expand)</a>
        </h4>
    </div>
    <div class="panel-collapse collapse" ng-class="{in: vm.showExplanation}">
        <div class="panel-body">
            Now we start chaining blocks together.<br/>
            Every block (except for the first) now has the hash of its predecessor in the "Prev" field.<br/><br/>
            If you change data in one block and it gets invalid, the whole chain from that block on will be invalid.
          <h2> Enter data in each block and click "Mine" to make the block valid. Once done, modify the data in 3rd block and click "Mine". See what happens!</h2>
        </div>
    </div>
</div>

<div class="row row-horizon">
    <div class="col-xs-7 col-lg-5" ng-repeat="block in vm.blocks">
        <block number="block.number"
               nonce="block.nonce"
               data="block.data"
               hash="block.hash"
               valid="block.valid"
               prev="!block.prev ? vm.blocks[$index-1].hash : block.prev">
        </block>
    </div>
</div>


Business Blockchain Functional Mastery - Job Essentials Course <a href="https://www.udemy.com/business-blockchain-functional-mastery-job-essentials/?couponCode=CREATIVEMONK">Click here to go to course page</a>.<br/>
Business Blockchain Functional Mastery - Job Essentials Course <a href="https://www.udemy.com/business-blockchain-functional-mastery-job-essentials/?couponCode=CREATIVEMONK">Click here to Join the Course</a> Use coupon code "CREATIVEMONK" for 85% off
<br/><br/>
BusinessBlockchain.in <a href="http://businessblockchain.in">Click here to go to main website for more resources</a>.<br/>
